@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

/* Popup style */
.popup {
  position: fixed;
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner {
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 1024px;
  height: 500px;
  background-color: #fff;
  border-radius: 15px;
}

.close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  border: none;
  background: #fff;
  font-size: 24px;
  color: #f8745d;
  cursor: pointer;
}

.inner-content {
  width: 100%;
  display: flex;
  align-items: center;
}

.content-image {
  width: 50%;
}

.inner-content .content-background {
  width: 80%;
  margin: 12% 8%;
}

.content-desc h1 {
  font-size: 40px;
  letter-spacing: 0px;
  color: #f8745d;
  font-weight: 700;
  font-family: "Poppins";
  margin: 5% 0;
}

.content-list {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.content-list .check-image {
  width: 16px;
}

.content-list span {
  margin-left: 10px;
  font-size: 14px;
  line-height: 30px;
  color: #333333;
  font-weight: 700;
  font-family: "Nunito";
}

.last {
  margin-bottom: 5%;
}

.content-btn {
  width: 374px;
  height: 50px;
  border-radius: 25px;
  filter: drop-shadow(-3.584px 9.336px 9px rgba(248, 116, 93, 0.5));
  background-color: #f8745d;
  padding: 2% 8%;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Nunito";
  text-transform: uppercase;
}