html, body {
    height: 100%;
    margin: 0;
    width: 100%;

}
.soz-1-bg {
    max-width: 100vw;
    height: 370px;
    background: url("../images/sec-1-1.png") no-repeat center bottom;
    background-size: cover;
    position: relative;
}

.soz-h1-sty {
    text-align: center;
    margin-top: 5%;
    font-weight: bolder;
}

.soz-p-sty {
    margin-top:25%;
    font-size: 10pt;
    color: black;
}